.bg-green {
    background-color: #16adb1;
.profil {
    width: 100vw;
    height: auto;
}

.btn-secundo {
    background: center url("/assets/logo.png");
    background-size: cover;
    width: 600px;
    height: 200px;
}

.img {
    height: 50%;
}

.img-logo {
    margin-left: 25%;
    width: 100%;
    background-color: white;
}

.div-link {
    margin-right: 8vw;
}

.text-profil {
    background-color: #f5f6f7;
}

.text-mano {
    color: #4da7af;
}