.profil {
    width: 100vw;
    height: auto;
    position: relative;
}

.btn-secundo {
    top: 70vh;
    left: 39vw;
    position: absolute;
    background: center url("/assets/logo.png");
    background-size: cover;
    width: 600px;
    height: 250px;
}