.bg-green {
    background-color: #16adb1;
}
.profil {
    width: 100vw;
    height: auto;
}

.btn-secundo {
    background: center url("/assets/logo.png");
    background-size: cover;
    width: 600px;
    height: 200px;
}

.img-button {
    width: 22vw;
}

.img-logo {
    margin-left: 25%;
    width: 100%;
    background-color: white;
}

.div-link {
    margin-right: 8vw;
}

.text-profil {
    background-color: #f5f6f7;
}

.text-mano {
    color: #4da7af;
}

.nav-link {
    padding-right: 4.5rem!important;
}
.img-header {
    width: 60vw;
}
.figure {
    margin: 40px 40px 1rem;
}
.h2 {
    margin: revert;
    font-size: 3rem;
}

.blockquote-footer {
    font-size: 1rem;
    text-align: justify;
}

.font-size {
    font-size: 2rem;
}

.pig {
    width: 3rem;
}

.filter {
    width: 13vw;
}
.filter img {
    width: 12vw;
}
.btn-mano {
    background-color: #4da7af;
}

.btn-card {
    background-color: #4da7af;
    color: white;
}

.btn-card:hover {
    background-color: #27828c;
    color: white;
}

.show-product {
    width: 20vw;
}